<head>
    <title>Stable Diffusion API Result</title>
  </head>
  <body>
    <% if (serverStatus) { %>
        <h1><%= serverStatus %></h1>
        <h2><%= message %></h2>
      <% } else { %>
        <p>Det virker ikke. </p>
      <% } %>
  
    </body>
    </html>
    